<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TaobaoTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <TaobaoTools.Properties.Settings>
            <setting name="ExpressOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpressOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrderFontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LastCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutSid" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderName" serializeAs="String">
                <value>湘山红食品</value>
            </setting>
            <setting name="SenderCity" serializeAs="String">
                <value>湖南岳阳</value>
            </setting>
            <setting name="SenderAdress" serializeAs="String">
                <value>湖南省 岳阳市 竹阴街117号</value>
            </setting>
            <setting name="SenderMobile" serializeAs="String">
                <value>18274061066</value>
            </setting>
            <setting name="SenderZip" serializeAs="String">
                <value>414000</value>
            </setting>
            <setting name="OrderPageSize" serializeAs="String">
                <value>550, 975</value>
            </setting>
            <setting name="OrderMaxPageNum" serializeAs="String">
                <value>10</value>
            </setting>
        </TaobaoTools.Properties.Settings>
    </userSettings>
</configuration>
